<h4 mat-dialog-title class="text-white position-relative model-title p-0">
  {{ data.title }}
  <i matTooltip="Close" class="fa-solid fa-circle-xmark" (click)="onCancel()"></i>
</h4>
<mat-dialog-content class="py-1 mt-2">
  <form [formGroup]="addEditForm">
    <div class="form-group row align-items-center mb-2">
      <div class="col-lg-4 col-md-12 col-sm-12 col-form-label d-flex">
        <label for="sales_Status" class="">Sales Status </label><label class="text-danger">*</label>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 validator-align">
        <input [ngClass]="{
            'has-error':
              addEditForm.controls['sales_Status'].errors &&
              addEditForm.controls['sales_Status'].touched
          }" type="text" [readOnly]="data.view" class="form-control m-2" placeholder="Enter Sales Status "
          formControlName="sales_Status" />
        <div *ngIf="submittedForm && addEditForm.controls['sales_Status'].errors" class="invalid-feedback my-1 px-2">
          <span *ngIf="addEditForm.controls['sales_Status'].hasError('required')" class="px-2">Sales Status is
            required</span>
          <span class="px-2" *ngIf="
              addEditForm.controls['sales_Status'].hasError(
                'cannotContainSpace'
              )
            ">White Spaces not allowed</span>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12 col-form-label d-flex">
        <label for="ColorCode" class="">Color Code</label><label class="text-danger">*</label>
      </div>

      <div class="col-lg-8 col-md-12 col-sm-12 validator-align">
        <input [ngClass]="{
            'has-error':
              addEditForm.controls['Color_Code'].errors &&
              addEditForm.controls['Color_Code'].touched
          }" type="color" [readOnly]="data.view" class="form-control m-2 selectColor"
          placeholder="Enter ColorCode Name" formControlName="Color_Code" />
        <div *ngIf="submittedForm && addEditForm.controls['Color_Code'].errors" class="invalid-feedback my-2">
          <span *ngIf="addEditForm.controls['Color_Code'].hasError('required')" class="px-2">ColorCode is
            required</span>
          <span *ngIf="
              addEditForm.controls['Color_Code'].hasError('cannotContainSpace')
            ">White Spaces not allowed</span>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="mb-2">
  <button mat-raised-button class="btn save-cancel-button btn-danger" color="warn" (click)="onCancel()">
    Cancel
  </button>
  <button mat-raised-button class="btn save-cancel-button btn-save ms-2" (click)="onSave()">
    {{ data.button }}
  </button>
</mat-dialog-actions>
