<h4 mat-dialog-title class=" text-white position-relative model-title">{{ data.title }} <i matTooltip="Close" class="fa-solid fa-circle-xmark" (click)="onCancel()"></i></h4>
<mat-dialog-content class="py-1 mt-2">
<form [formGroup]="EditForm">
    <div class="form-group row align-items-center mb-2">
        <div class="col-lg-4 col-md-4 col-sm-12 col-form-label d-flex">
            <label for="production_Pool" class="">production Pool  Name</label><label class="text-danger">*</label>
        </div>
        <div class="col-lg-8 col-md-4 col-sm-12 validator-align">
            <input [ngClass]="{'has-error': EditForm.controls['production_Pool'].errors && EditForm.controls['production_Pool'].touched}" type="text" [readOnly]="data.view" class="form-control m-2"
                placeholder="Production Pool Name" formControlName="production_Pool">
            <div *ngIf="submittedForm && EditForm.controls['production_Pool'].errors" class="invalid-feedback my-2">
                <span *ngIf="EditForm.controls['production_Pool'].hasError('required')" class="px-2 my-1">Production Pool Name is
                    required</span>
                <span *ngIf="EditForm.controls['production_Pool'].hasError('cannotContainSpace')">White Spaces not
                    allowed</span>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-form-label d-flex">
            <label for="SiteName" class="">Site Name</label><label class="text-danger">*</label>
        </div>

             <mat-select  panelClass="drop-panel" placeholder="-- Select SiteName--"  
              class="formSelect w-50 m-2 my-2" formControlName="site_Id" >
                <input type="text" class="search-drpdwn"  matInput placeholder="Search"  >
                <mat-option class="formSelect w-100 m-2 my-2"  *ngFor="let option of flaglist" [value]="option.SiteId">
                    {{option.SiteName}}
                </mat-option>
             </mat-select>            
            <!--(selectionChange)="onselectionChange($event.value)"   [value]="selectedvalue"-->
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions  align="center" class="mb-2">
<button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
<button mat-raised-button class="bg-dark text-light" (click)="onSave()">{{data.button}}</button>
</mat-dialog-actions>
