.ax-container{
    width: 85%;
    .top-buttons {
        margin-left: 5px;
        display: flex;
        justify-content: space-between;
  
        // Styling for each button
        .tab-icons {
          display: flex;
          justify-content: center;
          align-items: end;
          i {
            padding: 8px 15px;
            cursor: pointer;
            border: 1px solid lightgray;
            margin-right: 5px;
            border-bottom: none;
            transition: 0.3s linear;
  
            // Styling for the span inside the button
            span {
              font-size: 0.8rem;
              font-family: sans-serif;
              font-weight: 500;
            }
          }
        }
        .overall-search{
          display: flex;
          align-items: center;
          .form-control:focus {
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            outline: 0;
            box-shadow: none;
        }
        }
    }
    .ax-content{
        width: 100%;
        height: calc(100vh - 150px);
        box-shadow: 0 0 3px inset gray;
        border: 1px solid lightgray;
        margin-left: 5px;
        overflow: auto;
        table{
            width: auto;
            thead{
                tr{
                    
                    th{
                        background-color: black;
                        color: white;
                        font-size: 1rem;
                        font-weight: 500;
                        min-width: 180px;
                        max-width: 180px;
                        padding: 5px;
                        border: 1px solid white;
                        text-align: center;
                        position: sticky;
                        top: 0;
                        z-index: 1;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        font-size: 1rem;
                        font-weight: 500;
                        height: 100px;
                        padding: 10px;
                        min-width: 180px;
                        max-width: 180px;
                        border: 1px solid lightgray;
                        // text-align: center;
                        vertical-align: middle;
                        .date-range{
                            font-size: 0.8rem;
                            font-weight: 400;
                        }
                    }
                    .slot-data{
                        font-size: 0.9rem;
                        font-weight: 400;
                        position: relative;
                        padding: 5px 35px;
                        padding-left: 10px;
                        padding-top: 20px;
                        .inside-icons{
                            // display: inline-grid;
                            position: absolute;
                            right: 0;
                            height: 100%;
                            top: 0;
                            i{
                                border: 1px solid white;
                                padding: 7px 9px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

.active{
    background-color: black;
    color: white;
}

.red-bg{
    background-color:#ff6961;
    color: white;
}
.green-bg{
    background-color: #8cd47e;
    color: white;
}
.blue-bg{
    background-color: #9bd1dd;
    color: white;
}
.yellow-bg{
    background-color: #ffb54c;
    color: white;
}

.default-bg{
    background-color: transparent;
    color: black;
}

.home-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    overflow: hidden;
    .home-preview {
      white-space: nowrap;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.8rem;
    }
  }



  .search-container {
    width: 15%;

    // Styling for the search list
    .search-list {
      margin: 10px 0px;

      // Styling for the title of the sales order list
      .title {
        background-color: black;
        color: white;
        padding: 5px 10px;
      }

      // Styling for the sales order list
      .list-data {
        width: 100%;
        box-shadow: 0 0 4px inset gray;
        border: 1px solid lightgrey;

        // Styling for the filter input
        .filter-input {
          border: none;
          padding: 0;
          position: sticky;
          top: 0;

          // Styling for the input element
          input {
            box-shadow: 1px 1px 3px inset lightgray;
            border-radius: 0px;
          }
        }

        // Styling for the list of sales orders
        ul {
          padding: 5px;
          text-align: center;
          height: calc(100vh - 200px);
          overflow-y: auto;

          // Styling for each list item
          li {
            list-style: none;
            border: 1px solid;
            margin: 5px 0px;
            padding: 5px;
            cursor: pointer;
            position: relative;
            font-size: 0.9rem;

            // Hover effect on list items
            &:hover {
              transform: scale(1.05);
              transition: 0.2s linear;
            }
          }
        }
      }
    }
  }

