.model-title {
  height: 30px;
  display: flex;
  font-size: 1.1rem;
  background-color: var(--primary-color);
  justify-content: center;
  align-items: center;
}

.fa-circle-xmark {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 1.3rem;
  cursor: pointer;
}

// .header-color{
//     background-color: red;
// }

label {
  color: black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
@media (max-width: 70em) {
  .model-title,
  label,
  small {
    font-size: 0.8rem !important;
  }
}
