.model-title{
    height: 30px;
    display: flex;    
    justify-content: center;
    font-size: 1.1rem;
    background: var(--primary-color);
  }
  
  .fa-circle-xmark {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.3rem;
    cursor: pointer;
  }

table{
    thead{
        tr{
            th{
                background-color: var(--secondary-color) !important;
                color: white;
                font-size: 0.9rem;
                font-weight: 500;
                border: 1px solid white;
                text-align: center;
            }
        }
    }
    tbody{
        tr{
            td{
                font-size: 0.9rem;
                border: 1px solid lightgrey;
                text-align: center;
            }
        }
    }
}

.red-bg{
    background-color:#ff6961;
    color: white;
}
.green-bg{
    background-color: #8cd47e;
    color: white;
}
.blue-bg{
    background-color: #9bd1dd;
    color: white;
}
.yellow-bg{
    background-color: #ffb54c;
    color: white;
}

.default-bg{
    background-color: transparent;
    color: black;
}

table,
th,
td,
tbody,
thead {
  // background-color: var(--bg-color);
  font-size: 0.75rem !important;
  padding: 4px;
}